html, body {
  margin: 0;
}

body {
  box-sizing: border-box;
  padding: 10px;
}

.cBox1 {
  border: 1px solid #ccc;
}

.cBox1.-r {
  background-color: #fee;
}

.cBox1.-g {
  background-color: #efe;
}

.cBox1.-b {
  background-color: #eef;
}
